@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --font-pixelify-sans: Pixelify Sans, sans-serif;
  --font-poppins: Poppins, sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

/* <main> parent needs: "flex flex-col min-h-screen" */
main {
  @apply p-6 flex-1 overflow-auto;
}  
/*flex flex-col items-center justify-center*/

.botao-laranja {
    @apply  bg-[#f66c0e] rounded-full hover:bg-[#F54B00] shadow-md transition duration-[175ms]
}

.default-input {
    @apply text-[#FF7C0287] placeholder-[#FF7C0287] font-poppins min-w-[250px] h-14 rounded-full px-8 text-[13px] font-black border-2 border-[#ff5a0179] focus:border-[#ff5a01c9] focus:outline-none shadow-sm transition-colors
}

@layer utilities {
  .font-pixelify-sans {
    font-family: var(--font-pixelify-sans);
  }

  .font-poppins {
    font-family: var(--font-poppins);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Pixelify-Sans";
  src: url("/fontes/Pixelify/PixelifySans-Bold.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-bold";
  src: url("/fontes/Poppins/Poppins-Bold.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-extrabold";
  src: url("/fontes/Poppins/Poppins-ExtraBold.ttf");
  font-style: normal;
  font-display: swap;
}